footer {
    position: fixed;
    padding: 10px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #424242;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    clear: both;
}

footer p {
    font-size: 12px;
    margin: 0;
}
