#listing-members .card {
    margin: 0;
}

#listing-members .card-body {
    height: 18vh;
    margin: 10px 0;
}

#listing-members .card-body a {
    color: #ff5151;
    text-decoration: none;
}

#listing-members .card-body img {
    width: 100px;
    height: 100px;
}

#listing-members .card-img-top {
    width: 100px;
    border-radius: 50%;
    height: 18vh;
}

#listing-members .like-btn {
    margin: 0 auto;
}
