.heading {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 60px;
  background-color: #eee;
  z-index: 1000;
}

.heading-avatar {
  padding: 0;
  cursor: pointer;

}

.heading-avatar-icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.heading-name {
  padding: 0 !important;
  cursor: pointer;
}

.heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}

/*Conversation*/

.conversation {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, .08);
}

.msg {
  padding: 4vh 0;
  margin: 0;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: 60vh;
  overflow: auto;
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: auto;
  display: flex;
}

.message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap:break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.message-time {
  margin: 0 !important;
  margin-left: 50px !important;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;
}

.receiver {
  width: auto !important;
  padding: 4px 10px 7px !important;
  margin: 0 20px;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  float: right;
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  margin: 1px 20px;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}

/*Reply*/

.reply {
  height: 60px;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin: 0 auto;
}

.reply-send {
  padding: 5px !important;
}

.reply-send i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-main textarea {
  width: 95%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
  margin: 0;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}

@media screen and (max-width: 700px) {
  .heading {
    height: 70px;
  }
  .fa-2x {
    font-size: 2.3em !important;
  }
  .heading-avatar {
    padding: 0 !important;
  }
  .heading-avatar-icon img {
    height: 50px;
    width: 50px;
  }

  /*Conversation*/
  .conversation {
    padding: 0 17px !important;
    margin: 0 !important;
    height: 100%;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0, .08);
  }
  .msg {
    height: calc(100% - 140px);
  }
  .reply {
    height: 70px;
  }
  .reply-main {
    padding: 2px 8px !important;
  }
  .reply-main textarea {
    padding: 8px !important;
    font-size: 18px;
  }
  .reply-send {
    padding: 5px 0 !important;
  }
  .reply-send i {
    padding: 5px 2px 5px 0 !important;
    font-size: 1.8em !important;
  }
}

/* NoMessage */
.nomessage {
  padding: 100px !important;
  margin: 5vw 35vh !important;
  height: 10%;
  width: 50%;
}

.startconversation{
  padding: 17px !important;
  margin: 4vh !important;
  color: red;
}

@media screen and (max-width: 700px) {
  .nomessage {
      margin: 0 !important;
      padding: 5vw !important;
    }
    .startconversation{
      padding: 5px !important;
      margin: 3vh !important;
      color: red;
    }
  }

  .inputchat {
    width: 100%;
    margin: 1vw auto !important;
  }