#liked-by img {
    width: 70%;
    border-radius: 100%;
    padding: 5px 0;
}

#liked-by td {
    width: 50px;
}

.a-likedBy {
    color: black;
    text-decoration: none;
}

.a-likedBy:hover {
    color: black;
    text-decoration: none;
}
