#visited-by img {
    width: 70%;
    border-radius: 100%;
    padding: 5px 0;
}

#visited-by td {
    width: 50px;
}

.a-visitedBy {
    color: black;
    text-decoration: none;
}

.a-visitedBy:hover {
    color: black;
    text-decoration: none;
}
